/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('background.png');
}
.container{
    position: relative;
    max-width: 600px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}

.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #0080ff;
    text-align: center;
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 300px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .title{
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 2px 0;
    color: #333;
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 14px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input::placeholder{
    font-size: 12px;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}

.btnText {
    margin: 18px 0;
    background: #0080ff;
    border-radius: 8px;
    border: none;
    width: 130px;
    height: 41px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

@media (max-width: 750px) {
    body{
        background: none;
    }
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
        display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    body{
        background: none;
    }
    form .fields .input-field{
        width: 100%;
    }
}

/* For forgot password form */
.container form .pass-fields{
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.forgot input{
    width: 300px;
}
.container form .forgot-title{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
hr{
    height: 3px;
    width:55px;
    background-color: #333;
    margin-bottom: 12px;
}

/* Reset password form */
.forgot .error{
    color: #ff3860;
    font-size: 12px;
    height: 13px;
    width: 400px;
}
