@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f3f3f3;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
    width: 35%;
    background: linear-gradient(to right,#0080ff,#cfe9ea);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.wrapper .left img{
    border-radius: 18px;
    width: 250px;
    /* height: 250px; */
    margin-bottom: 10px;
}

.wrapper .left h4{
    margin-bottom: 10px;
    font-size: 24px;
}

.wrapper .left p{
    font-size: 16px;
}

.wrapper .right{
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
    margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
    display: flex;
    justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
    width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
    font-size: 13px;
    margin-bottom: 24px;
    color: #919aa3;
}
.bx{
    float: right;
    color: #a49e9e;
    font-size: 30px;
}
.projects_data p{
    color: #919aa3;
}

.btnVote {
    margin: 18px 0;
    background: #0080ff;
    border-radius: 8px;
    border: none;
    width: 130px;
    height: 41px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.adminLink{
    color: #0080ff;
    text-decoration: none;
}

.adminLink:hover{
    text-decoration: underline;
}