@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: calc(100vh - 50px);
}
.containerPro{
    margin: 20px 0;
}
.sidebar{
    background-color: #d8eafc !important;
    height: 98%;
}
.sidebar a{
    margin: 20px 0 0 10px;
    display: block;
    color: #707479;
    font-size: 18px;
    text-decoration: none;
}
.sidebar p{
    color: #7f9dc2;
}
.sidebar a:hover,
.sidebar a.active{
    color: #0080ff;
    font-weight: 500;
}
.card-body img{
    border-radius: 50%;
}
.user-content h3{
    font-size: 24px;
    margin-top: 12px;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;

}
.content-head{
    background-color: #d8eafc !important;

}
.card h1{
    font-size: 24px;
    color: #0080ff;
}
.content{
    background-color: #f9f9f9;
}
.col-md-3 h5{
    font-size: 18px;
}