@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.progress{
    margin-bottom: 25px;
}
.containerP{
    margin: 100px 50px 50px 100px;
}
.container a{
    text-decoration: none;
    font-weight: 500;
    color: #0080ff;
}
.progress-bar{
    background-color: #0080ff !important;
}